<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<context:annotation-config></context:annotation-config>
	<context:component-scan
		base-package="cn.xiaoxian.action.back,cn.xiaoxian.action.front,cn.xiaoxian.dao.impl,cn.xiaoxian.front.service.impl,cn.xiaoxian.back.service.impl"></context:component-scan>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.gjt.mm.mysql.Driver"></property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/znt2"></property>
		<property name="username" value="root"></property>
		<property name="password" value="zxx"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">
					true
				</prop>
				<prop key="hibernate.format_sql">
					true
				</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>cn.xiaoxian.pojo.Admin</value>
				<value>cn.xiaoxian.pojo.User</value>
				<value>cn.xiaoxian.pojo.Notice</value>
				<value>cn.xiaoxian.pojo.Type</value>
				<value>cn.xiaoxian.pojo.Question</value>
				<value>cn.xiaoxian.pojo.Answer</value>
			</list>
		</property>
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>